// Colors
$Light-red: hsl(0, 100%, 67%);
$Light-red-opacity: hsla(0, 100%, 67%, 0.1);
$Orangey-yellow: hsl(39, 100%, 56%);
$Orangey-yellow-opacity: hsla(39, 100%, 56%, 0.1);
$Green-teal: hsl(166, 100%, 37%);
$Green-teal-opacity: hsla(166, 100%, 37%, 0.1);
$Cobalt-blue: hsl(234, 85%, 45%);
$Cobalt-blue-opacity: hsla(234, 85%, 45%, 0.1);
$White: hsl(0, 0%, 100%);
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);
$Dark-gray-blue-opacity: hsl(224, 30%, 27%, 0.5);

// Fonts
$font-family : 'Hanken Grotesk', sans-serif;
$font-weight-1: 500;
$font-weight-2: 700;
$font-weight-3: 800;

// Global styles
$background-color-1: hsl(252, 100%, 67%);
$background-color-2: hsl(241, 81%, 54%);

//Circle
$Circle-color-1: hsla(256, 72%, 46%, 1);
$Circle-color-2: hsla(241, 72%, 46%, 0);