// Buttons
// Import variables and functions
@import "../abstracts/variables";
@import "../abstracts/functions";

// Import base styles
@import "../base/reset";
@import "../base/typography";
button{
  color: $White;
  font-weight: $font-weight-2;
  background-color: $Dark-gray-blue;
  width: 100%;
  padding: 10px 0;
  border-radius: 50px;
  a{
    text-decoration: none;
    color: $White;
  }
}

// Additional button variations can be added here