// Home Page Styles

// Import variables and functions
@import "../abstracts/variables";
@import "../abstracts/functions";

// Import base styles
@import "../base/reset";
@import "../base/typography";

// Import component styles
@import "../components/buttons";

// Import layout styles
@import "../layout/header";
@import "../layout/footer";

// Add specific styles for the home page below
main{
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    section{
        background-color: $White;
        width: 50%;
        height: 50%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        div{
            padding: 40px;
            height: fit-content;
        }
        .first-section{
            background: linear-gradient($background-color-1, $background-color-2);
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            .rounded-score{
                padding: 55px;
                border-radius: 50%;
                background: linear-gradient($Circle-color-1, $Circle-color-2);
                p{
                    font-size: 12px;
                    line-height: 25px;
                    text-align: center;
                    font-weight: $font-weight-1;
                    color: $Light-lavender;
                    span{
                        font-size: 54px;
                        font-weight: $font-weight-3;
                        color: $White;
                    }
                }
            }
            .text-score{
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                p{
                    text-align: center;
                    color: $Light-lavender;
                    font-size: 14px;
                }
            }
        }
        .second-section{
            h2{}
            .attribute-score{
                .score{}
            }
        }
    }
}